
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #000000;
    margin: 5em auto;
    width: 60em;
    max-width: calc(100% - 6em);
}

header > h1 {
    text-align: center;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 100%;
    max-width: 150px;
    height: auto;
}

h2 {
    color: #159957;
    font-family: 'Open Sans', sans-serif;
}

p {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

ul {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #707070;
    font-weight: bold;
}

footer {
    padding-top: 0.75em;
}

footer > p {
    text-align: center;
    font-style: italic;
    font-size: 75%;
    font-weight: bold;
}

#titleText {
    background-image: linear-gradient(#55ff55, #ff55ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 250%;
    font-family: 'Poppins', sans-serif;
}