<!DOCTYPE html>
<head>
    <title>[Text] | GlobBruh Blog</title>
    <link rel="icon" type="image/x-icon" href="../../favicon.ico">
    <link rel="stylesheet" href="../style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <div id="headArt">
  ▄████  ██▓     ▒█████   ▄▄▄▄    ▄▄▄▄    ██▀███   █    ██  ██░ ██ 
 ██▒ ▀█▒▓██▒    ▒██▒  ██▒▓█████▄ ▓█████▄ ▓██ ▒ ██▒ ██  ▓██▒▓██░ ██▒
▒██░▄▄▄░▒██░    ▒██░  ██▒▒██▒ ▄██▒██▒ ▄██▓██ ░▄█ ▒▓██  ▒██░▒██▀▀██░
░▓█  ██▓▒██░    ▒██   ██░▒██░█▀  ▒██░█▀  ▒██▀▀█▄  ▓▓█  ░██░░▓█ ░██ 
░▒▓███▀▒░██████▒░ ████▓▒░░▓█  ▀█▓░▓█  ▀█▓░██▓ ▒██▒▒▒█████▓ ░▓█▒░██▓
░▒   ▒ ░ ▒░▓  ░░ ▒░▒░▒░ ░▒▓███▀▒░▒▓███▀▒░ ▒▓ ░▒▓░░▒▓▒ ▒ ▒  ▒ ░░▒░▒
    ░   ░ ░ ░ ▒  ░  ░ ▒ ▒░ ▒░▒   ░ ▒░▒   ░   ░▒ ░ ▒░░░▒░ ░ ░  ▒ ░▒░ ░
░ ░   ░   ░ ░   ░ ░ ░ ▒   ░    ░  ░    ░   ░░   ░  ░░░ ░ ░  ░  ░░ ░
        ░     ░  ░    ░ ░   ░       ░         ░        ░      ░  ░  ░
                                ░       ░                           
        </div>
    </header>
    <h1>Page Title</h1>
    <p id="txtCategory">Category A</p>
    <center>   
    <!--<h4>Published: [date here]<br>Last Edited: [date here]</h4>-->
        <h4>Published: [date here, eg: September 24th, 2023]</h4>
        <h4><a href="../bloghome.html">Return to Blog Home</a></h4>
    </center>
    <p id="txtWARN">Warning Text: Warn readers here.</p>
    <h2>Part:</h2>
    <p>Text</p>
    <pre><code>
This
Is 
Codeblock
    </code></pre>
    <ul>
        <li>list point A</li>
        <li>list point B</li>
    </ul>
    <div class="collapse" alt="Paradox">
        <p>im inside content</p>
        <div class="collapse" alt="Expand for more information.">
            <p>im inside content again</p>
        </div>
    </div>
    <img src="filename.png">
    <p id="txtCaption">Image Caption</p>
    <p>This is inline code: <code>testing</code>.</p>
</body>
<script src="../script.js"></script>